@media (max-width: 900px)
{
  .card-header
   {
    font-size: 1rem;
   }
}

@media (max-width: 600px)
{
  .card-header
   {
    font-size: 0.8rem;
   }
}

@media (max-width: 418px)
{
  .card-header
   {
    font-size: 0.5rem;
   }
}